
/* ------ Importer des polices ------ */
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,700");

body{
    font-family: "Cormorant Garamond";
    width: 1024px;
    margin: auto;
}

header{
    padding-top: 50px;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: white;

}

.entete{
    width: 50%;
    margin: auto;
}

h1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    letter-spacing: 6px;
}

/* h1, 
hr{
    margin: auto;
    width: 50%;
} */

h1,
header>div{
    text-align: center;
}

.city{
    color: #883b1f;
    font-weight: 500;
}

/* .navigation{
    position: fixed;
    text-align: center;
} */

.assiette{
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 50px;
}

.legende{
    position: absolute;
    transform: translate(80%, -200%);
}

.plat{
    border-bottom: 1px solid #000;
    width: 500px;
}

.plat>p{
    font-size: 20px;
}



.legende>p{
    text-transform: uppercase;
}

nav{
    margin-bottom: 50px;
}

nav>ul{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 10px 20px;
    /* height: auto; */
}

ul p{
    margin: 0 5px;
    font-weight: 500i;
}



li>a{
    text-decoration: none;
    color: black;
}

li>a:hover{
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
}

hr{
    width: 800px;
}

.legende{
    text-align: right;
}

/* .legende>div>hr{
    width: 200px;
    text-align: right;
} */

/* .text>div{
    padding: 0 20px;
} */

h3{
    letter-spacing: 6px;
}


                            /* MAIN */

/* main{
    width: 1200px;
} */

h2{
    text-transform: uppercase;
    font-size: 20px;
    /* margin-top: 80px; */
    letter-spacing: 2px;
}

section{
    display: flex;
    align-items: center;
}

.marges{
    margin: 30px;
}

/* .section2,
.section3,
.section{
    display: flex;
} */

section p{
    font-size: 15px;
    line-height: 20px;
    margin: 40px 0;
}

/* .text{
    align-items: center;
} */

/* .text>div{
    border-bottom: 1px solid #000;
} */
.marges>div{
    border-bottom: 1px solid #000;
}

section>div{
    width: 50%;
}

.image>img{
    width: 100%;
}

.note{
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
}

.section2,
.section4{
    flex-direction: row-reverse;
}

/* FOOTER */

html {
    scroll-behavior: smooth;
  }

.fleche_haut{
    position: fixed;
    bottom: 100px;
    right: 200px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* padding-top: 5px; */
}

.fleche_haut>a{
    color: black;
}

.fleche_haut>a:hover{
    color: rgb(121, 121, 121);
}

.icon{
    font-size: 40px;
    margin-top: 3px;
}

/* .ion-icon{
    width: 20px;
} */

footer h5.titre {
    color: black;
    font-size: 1rem;
    padding: 3.5rem 0;
    background-image: url(../img/plan.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    text-align: center;
    margin: 110px 0;
}

h3{
    text-transform: uppercase;
}

