html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
*{
    box-sizing: border-box;

}
img{
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* HEADER */

header{
    background-image: url(../img/cake_header.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 700px;
    margin-bottom: 40px;
    /* margin: 0 40px; */
    /* margin-left: 40px;
    margin-right: 40px; */

}

/*  MAIN */

.container{
    max-width: 1440px;
    margin: auto;
}

.flexy{
    display: flex;
}

.bel_img{
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
}

.bel_img>div{
    width: 300px;
    height: 400px;
    margin: 20px;
}

.bel_img>div img{
    height: 100%;
}

/* //////////////////// FIGURE ////////////////// */

h2{
    font-size: 16px;
}

figcaption>p{
    font-size: 14px;
    margin-top: 10px;
}

.fig_violet{
    color: white;
    justify-content: center;
    background-color: #c3fffe;
}

section{
    margin-top: 40px;
    margin-bottom: 50px;
}

figcaption{
    color: black;
}

.fig_img{
    width: 300px;
    height: 400px;
}


figure{
    width: 300px;
    position: relative;
    margin: 20px;
}

/* .fig_date,
.fig_photo{
    position: absolute;
    z-index: 2;
} */

.fig_date{
    background-color: violet;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
}

.fig_photo{
    background-color: violet;
    padding: 15px;
    position: absolute;
    z-index: 2;
    top: 340px;
    left: 10px;
    /* top: 0px; */
}

.fig_date>p{
    text-align: center;
}

figcaption{
    padding: 20px;
}

.fa-clock-nine:before {
    content: "\f4b0";
}
/* .fa-comment:before {
    content: "\f075";
} */

.bouton p{
    font-size: 13px;
    color: violet;
    margin-left: 5px;
}

.bouton{
    justify-content: space-between;
    margin-top: 20px;
}

/* .prix{
    background-color: #ffc665;
    #eeae40
} */

/* //////////////////// SECTION 3 - FIGURE - VENTE ////////////////// */

.sect3{
    justify-content: center;
    flex-wrap: wrap;
}

.sect3 figure img{
    width: 300px;
    height: 400px;
    margin: 20px;
}

/* .wrap{
    flex-wrap: wrap;
} */

.promo,
.voyage{
    padding: 5px 10px;
}

.promo{
    background-color: #ffc665; 
}

.voyage{
    background-color: white;
    margin-left: 5px;
}

/* .absolu{
    position: absolute;
} */

.img_prix{
    position: relative;
}

.enfant{
    position: absolute; 
    bottom: 21%;
    left: 0px;
    font-size: 13px;
}

.sponsor{
    font-size: 13px;
    margin-bottom: 10px;
}

.sponsor>p{
    margin-left: 5px;
}

.red{
    color: #ec990a;
    font-weight: 600;
}

.origine{
    margin-top: 0;
    font-size: 13px;
}

.barre{
    text-decoration : line-through;
}

.red2{
    color: #ec990a;
}

.fig_sect2{
    padding: 0;
}

.uppercase{
    text-transform: uppercase;
}


@media(max-width: 1440px){
    .container{
        width: 100%;
    }
}


@media(max-width: 960px){
    
    header{
        background-image: none;
        width: 0px;
        height: 0px;
    }

    .bel_img>div{
        width: 200px;
        height: 300px;
        margin: 5px;
        
    }
}

@media(max-width: 760px){

    .bel_img>div{
        width: 400px;
        height: 500px;
        /* height: 300px;
        margin: 5px; */
        
    }
}