/*************** RESET ***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
}
*{
    box-sizing: border-box;/*pour garder la meme taille*/
}
iframe, img{
    width:100%;
    display:block;
}

/* ------------------- Fin RESET ------------------- */

/* //////// FONT //////// */

/* https://fonts.google.com/ */

/* @font-face {
    font-family: "Roboto-Black";
    src: url("font/Roboto-Black.ttf");
  } */

/* @font-face {
  font-family: ;
  src: url();
} */

/* /////////////////////////// CODE /////////////////////////// */


/* Formulaire */


/* Deuxième partie */

.picture2 {
    display: none;
}
.card:hover .picture1 {
    display: none;
}
.card:hover .picture2 {
    display: block;
}


/******************* HEADER *******************/
/* Position */

#menu{
    /* position: absolute; */
    top: 0;
    right: 0;
    z-index: 10;
}

.position-relative{
    position: relative;
}

/* banner */
#banner{
    width: 100%;
    height: 700px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titre{
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 80px;
    left: 40%;
}

/* Formulaire */

.formulaire{
    position: absolute;
}

form{
    background-color: rgba(255, 255, 255, 0.564);
}

/* DATE PICKER */
.fa-calendar {
    position: absolute;
    top: 3px;
    right: 3px;
  }

#defaultDate,
select{
width: 250px;
height: 40px;
border: 1px solid white;
border-radius: 5px;
margin: 5px 0;
}

.valider{
    width: 250px;
    height: 40px;
    background-color: #419b42aa;
    color: white;
    border: none;
}



/*  --------------- Fin HEADER --------------- */

/******************* NAV *******************/

/*  --------------- Fin NAV--------------- */


/*//////////////////// MAIN ////////////////////*/

.container{
    max-width: 1200px;
    margin: auto;
}

/***************** DIV *****************/


.sect{
    display: flex;
    justify-content: space-between;

}

/***************** SECTION 1 *****************/

.module{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.bouton{
    background-color:#419b43;
    color: white;
    /* height: 50px; */
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #419b43;
}

/* .sect1{
    max-width: 70%;
    margin: auto;
} */

.txt_sect1 p{
    margin: 10px 0px;
    /* width: 60%;  */
}

.txt_sect1>div{
    margin-left: 30px;
}

/* CAROUSSEL */
.caroussel{
   width: 40%; 
}

.bg{
    /* margin: auto; */
    height: 200px;
    width: 350px;
    background-image: url("../img/vehicule1.png");
    
}

.next{
    font-size: xx-large;
    position: absolute;
    top: 80px;
    right: -30px;
    /* top: 150px;
    right: 450px; */
}

.prev{
    font-size: xx-large;
    position: absolute;
    top: 80px;
    /* left: 35%; */
    /* top: 150px; */
    left: -30px;
}

.parent{
    position: relative;
    /* margin: auto; */
    width: 350px;
}

.fa-solid{
    font-size: 20px;
}

/*  ------------- Fin SECTION 1 ------------- */

/***************** SECTION 2 *****************/

/*  ------------- Fin SECTION 2 ------------- */

/***************** SECTION 3 *****************/

/*  ------------- Fin SECTION 3 ------------- */

/***************** SECTION 4 *****************/

/*  ------------- Fin SECTION 4 ------------- */

/*  --------------- Fin MAIN--------------- */


/*//////////////////// FOOTER ////////////////////*/

/*  --------------- Fin FOOTER--------------- */




/*//////////////// MEDIA QUERY /////////////////*/

/* MEDIAQUERY - https://getbootstrap.com/docs/5.3/layout/breakpoints/#media-queries */

/***************** max-width: px *****************/
/* @media (max-width: px) {

} */



/***************** max-width: 960px *****************/
@media (max-width: 960px) {
    form{
        width: 100%;
        bottom: 0px;
        left: 5%;
        display: flex;
        justify-content: space-between;
        
    }

    .formulaire{
        width: 90%;
        /* margin: auto; */
        bottom: 0px;
        left: 5%;
        
    }

    select,
    #defaultDate{
        width: 300px;
        /* float: left; */
        
    }

    .valider{
        width: 100%;
    }
}


/***************** max-width: 768px *****************/

@media (max-width: 768px) {
    
    form{
        width: 100%;
        bottom: 0px;
        left: 5%;
        display: block;
        
    }

    .formulaire{
        width: 90%;
        /* margin: auto; */
        bottom: 0px;
        left: 5%;
        
    }

    select,
    #defaultDate,
    .valider{
        width: 100%;
    }
}


/* @media (max-width: 576px) {
    

} */